.event_container {
    margin-top: 7rem;
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 4rem;
    border-top: 1px solid var(--black);
}

.event_main {
    width: 87%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event_main h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    width: 80%;
    text-align: center;
}

.event_main .reg_link {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 1.5rem;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-2);
    width: 20rem;
    transition: 0.3s ease;
}

.event_main .reg_link:hover {
    background: var(--primary-color);
}

.event_main .reg_link:hover p {
    color: var(--white-color);
}

.event_main .reg_link:hover .icon-arrow path {
    fill: var(--white-color);
}

.event_main .reg_link p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.event_main .reg_link .icon-arrow {
    font-size: 1.9rem;
    color: var(--black);
}


@media (max-width: 768px) {
    .event_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .event_main {
        width: 100%;
    }

    .event_main h3 {
        width: 100%;
    }
    
    
}
  
@media (max-width: 426px) {
    .event_container {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .event_main h3 {
        font-size: 1.5rem; 
    }
    
    
}

@media (max-width: 320px) {
    .event_main h3 {
        font-size: 1.3rem; 
    }

    .event_main .reg_link {
        width: 100%;
    }

    .event_main .reg_link p {
        font-size: 0.9rem;
    }
    
}
  
