.we_are_container {
    margin-top: 7rem;
    width: 100%;
}

.we_are_container .we_are_main {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 2rem;
}

.we_are_main .we_are_left {
    width: 45%;
}

.we_are_main .we_are_left img {
    width: 100%;
    object-fit: cover;
}

.we_are_main .we_are_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;
    width: 55%;
    padding-left: 1.5rem;

}

.we_are_main .we_are_right h3 {
    font-size: 1.600rem;
    font-weight: 700;
    color: var(--black);
}

.we_are_main .we_are_right .p1 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 24px;
}

.we_are_main .we_are_right .text_box {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.we_are_main .we_are_right .text_box .register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;
    padding: 0.8rem 1rem;
    background: var(--primary-color);
    border-radius: var(--border-radius-2);
    width: 14rem;
    transition: 0.3s ease-in;
}

.we_are_main .we_are_right .text_box .register:hover {
    background: var(--white-color);
    border: 1px solid var(--primary-color);
}

.we_are_main .we_are_right .text_box .register:hover p {
    color: var(--primary-color);
}

.we_are_main .we_are_right .text_box .register:hover .icon path {
    fill: var(--primary-color);
}

.we_are_main .we_are_right .text_box .register p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
}

.we_are_main .we_are_right .text_box .register .icon {
    font-size: 1.3rem;
    color: var(--white-color);
}

.we_are_main .we_are_right .text_box .donate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-2);
    width: 14rem;
    transition: 0.3s ease;
}

.we_are_main .we_are_right .text_box .donate:hover {
    opacity: .8;
}

.we_are_main .we_are_right .text_box .donate p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
}

.we_are_main .we_are_right .text_box .donate img {
    width: 20px;
}

.we_are_right .bottom_p {
    position: absolute;
    bottom: 0;
    left: 2rem;
}

.we_are_main .we_are_right .who-line-mage_box {
    position: absolute;
    top: 0;
    left: 0;
}

.we_are_main .we_are_right .who-line-mage_box img {
    object-fit: cover;
    height: 410px;
}



/* MEDIA STYLES GOES HERE */
@media (max-width: 1024px) {
    .we_are_main .we_are_right .who-line-mage_box img {
        height: 310px;
    }
}

@media (max-width: 768px) {
    .we_are_container .we_are_main {
        flex-direction: column-reverse;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 4rem;
    }

    .we_are_main .we_are_left {
        width: 100%;
    }

    .we_are_main .we_are_right {
        width: 100%;
        padding-left: 0;
    }

    .we_are_main .we_are_right .who-line-mage_box {
      display: none;
    }

    .we_are_right .bottom_p {
        position: static;
    }
    
}

@media (max-width: 426px) {
    .we_are_container .we_are_main {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    
    .we_are_main .we_are_right .p1 {
        font-size: 1.100rem;
    }
}


@media (max-width: 320px) {
    .we_are_container .we_are_main {
        gap: 3rem;
    }

    .we_are_main .we_are_right h3 {
        font-size: 1.600rem;
    }
    
    .we_are_main .we_are_right .p1 {
        font-size: 1rem;
    }

    .we_are_main .we_are_right .text_box {
        gap: 1rem;
    }

    .we_are_main .we_are_right .text_box .register,
    .we_are_main .we_are_right .text_box .donate {
        width: 100%;
    }

    .we_are_main .we_are_right .text_box .register p,
    .we_are_main .we_are_right .text_box .donate p {
        font-size: 0.9rem;
    }
}